@import "tailwindcss";


@layer base {
  * { box-sizing: border-box; }
  html, body, #root { height: 100%; margin: 0; }
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { background: #111827; }
  ::-webkit-scrollbar-thumb { background: #374151; border-radius: 9999px; }
}
